@using Storage.DAO
@{
    ViewBag.Title = "Домашняя страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Домашняя страница</h2>
<p>
    @UserDAO.GetUserFullName(User.Identity.Name), добро пожаловать в систему!
</p>
<br/>
<p>
    Ниже преведенно описание каждого пункта меню:
</p>
<ul>
    <li>
        <strong>Товар</strong> - здесь Вы можете внести всю необходимую информацию о товаре(код, цена и т.д.)
    </li>
    <li>
        <strong>Товар</strong> - здесь Вы можете внести всю необходимую информацию о категории(название и т.д.)
    </li>
    <li>
        <strong>Клиент</strong> - здесь Вы можете внести всю необходимую информацию о клиенте(ФИО, адресс, телефон и т.д.)
    </li>
    <li>
        <strong>Приход</strong> - здесь Вы можете внести всю необходимую информацию о приходной накладной(товар, поставщик, покупатель и т.д.)
    </li>
    <li>
        <strong>Расход</strong> - здесь Вы можете внести всю необходимую информацию о расходной накладной(товар, поставщик, покупатель и т.д.)
    </li>
    <li>
        <strong>Прайс</strong> - здесь Вы можете автоматически сгенерировать прайс лист всего перечисленного товара
    </li>
</ul>