@model Storage.Models.CategoryModel

@{
    ViewBag.Title = "Детали Категории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детали Категории</h2>

<fieldset>
    <legend>Категория</legend>
    <br/>
    <div class="display-label">
        <strong>@Html.LabelFor(model => model.Name)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Вернуться к Списку Категорий", "Index")
</p>
